streamlit==1.47.0
streamlit_option_menu
streamlit_pdf_viewer
pymupdf4llm
pdfplumber
camelot-py[base]
--extra-index-url https://download.pytorch.org/whl/cpu
torch
unstructured[pdf]
opencv-python-headless
pydantic
paddlepaddle==3.1.0 --index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddleocr
img2table
pdf2image
pillow
numpy
pandas